<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre essa conta</h2>
                    <h3 class="section-subheading text-muted">Um pequeno resumo da evolução da conta.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/landscape.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2014</h4>
                                    <h4 class="subheading">Criação sem muita noção</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sem saber para que servia sequer os repositórios, ou mesmo o próprio git, mas logo comecei a pesquisar!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bi-plane.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fevereiro 2014</h4>
                                    <h4 class="subheading">Afinal um pull request</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Começando por um projeto em conjunto, começando a usar para contribuir em projetos alheios e seguindo com meus próprios em pouco tempo, desde então com pouca regularidade, devagar e sempre.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bug-pc.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Junho 2014</h4>
                                    <h4 class="subheading">Começando a fazer alguma coisa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Continuando a contribuir no projeto anterior e começando os meus, com códigos de cursos de várias fontes, mas centralizando aqui para ter maior controle.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/www.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Março 2015</h4>
                                    <h4 class="subheading">Essa página</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Após um período de inatividade, voltei a trabalhar em algum código e também a construir a primeira versão dessa página!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/working.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Maio 2016</h4>
                                    <h4 class="subheading">Incluindo outros projetos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comecei a incluir outros projetos nos meus repositórios, como algumas das contribuições que fazia para o projeto de tradução do LibreOffice para o português Brasileiro!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/linked-hands.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Novembro 2016</h4>
                                    <h4 class="subheading">Iniciando novas colaborações</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Após um período sem muitos commits, um amigo me convidou a contribuir em um projeto baseado em serviços.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/test.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Janeiro 2017</h4>
                                    <h4 class="subheading">Projetos de teste</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Iniciando com projetos de testes automatizados, minha realidade há alguns anos, mas apenas no trabalho, nada em repositórios independentes até agora!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Essa é
                                    <br>a história
                                    <br>até agora!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
