<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contato</h2>
                    <h3 class="section-subheading text-muted">Envie uma mensagem</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="https://formspree.io/f/meqpdowv" method="POST" name="sentMessage" id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input name="name" type="text" class="form-control" placeholder="Seu Nome *" id="name" required data-validation-required-message="Por favor, preencha seu nome.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input name="email" type="email" class="form-control" placeholder="Seu E-mail *" id="email" required data-validation-required-message="Por favor, preencha seu e-mail.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input name="phone" type="tel" class="form-control" placeholder="Seu Telefone" id="phone">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input name="message" type="textarea" class="form-control" placeholder="Sua Mensagem *" id="message" required data-validation-required-message="Por favor, escreva sua mensagem.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <input type="submit" class="btn btn-xl" value="Enviar mensagem">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
