<!-- Fraes Section -->
    <section id="frases">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Frases</h2>
                    <h3 class="section-subheading text-muted">Algumas coisas que uso para pensar.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 frases-box">
                    <div class="timeline-image fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/teseux.png" alt="">
                    </div>
                    <h4 class="service-heading">Teseu</h4>
                    <p class="text-muted">A chave do sucesso é o total despreparo.</p>
                </div>
                <div class="col-md-4 frases-box">
                    <div class="timeline-image fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/vader.png" alt="">
                    </div>
                    <h4 class="service-heading">Darth Vader</h4>
                    <p class="text-muted">Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force.</p>
                </div>
                <div class="col-md-4 frases-box">
                    <div class="timeline-image fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/einstein.png" alt="">
                    </div>
                    <h4 class="service-heading">Albert Einstein</h4>
                    <p class="text-muted">The true definition of madness is repeating the same action, over and over, hoping for a different result.</p>
                </div>
            </div>
        </div>
    </section>
