---
import Layout from '../../layouts/Layout.astro'
import Title from '@components/ui/Title.astro'
import Subtitle from '@components/ui/Subtitle.astro'
---
<Layout title='Page of Teseu - Now'>
  <div class="flex flex-col px-8 py-4 md:px-36 xl:px-[14rem] min-h-[calc(100vh-13rem)]">
    <div class="flex justify-end w-full">
      <div class="flex justify-center gap-8 text-5xl mb-8 w-full md:w-max transition-all duration-300">
        <div class="toggle-language">
          <a href="/now">  🇧🇷
            <span id="ptbr"></span>
          </a>
        </div>
        <div class="toggle-language">
          🇺🇸
          <span id="en" class="active"></span>
        </div>
      </div>
    </div>
    <Title title='What I am up to' />
    <Subtitle title='Keepping up with the /now page movement.' />
    <div class="flex flex-col flex-wrap gap-4 items-strech">
    	<h3 class="text-3xl">The movement</h3>
    	<p class="text-base md:text-xl mb-4">I accidentally found a page on the internet from the person who started the movement (<a class="link" href="https://sive.rs/nowff" target="_blank">Derek Sivers</a>) explaining that he created a page to say what he is doing at the moment, as many people asked that.</p>
    	<p class="text-base md:text-xl mb-4">A friend also made a similar page and he tweeted about it and within a few hours several people decided to adopt the practice, so he created a website, <a class="link" href="http://nownownow.com/" target="_blank">nownownow</a>, to showcase people's /now pages. This is mine!</p>

    	<hr class="border border-secondary bg-secondary rounded-2xl py-1 my-2">

    	<h3 class="text-3xl mb-3">What I am doing</h3>
    	<h4 class="text-2xl mb-1">Studying Wordpress themes</h4>
    	<p class="text-base md:text-xl mb-4">At the moment I'm using it at work to design a new interface to replace the CMS we currently use and this will require a lot of knowledge to implement.</p>
    	
      <h4 class="text-2xl mb-1">Studying Astro and VueJS</h4>
    	<p class="text-base md:text-xl mb-4">I already use VueJS at work and in personal projects, which suits me very well, but I needed an alternative for some cases and after looking around a bit I ended up deciding on Astro, which is the tool I used to build this page.</p>
    	
      <h4 class="text-2xl mb-1">Creating a new page to use as a professional profile</h4>
    	<p class="text-base md:text-xl mb-4">Although this page could serve this purpose, I believe that one where I can put my portfolio would be more appropriate. I have this project on pause until the next topic on this list is resolved.</p>

      <h4 class="text-2xl mb-1">Writing a science fiction book</h4>
      <p class="text-base md:text-xl mb-4">An old idea taking shape. On the book page itself, the next topic, which will feature a blog, I explain the motivation and some of the challenges encountered along the way.</p>

      <h4 class="text-2xl mb-1">Creating a new page to promote the book</h4>
      <p class="text-base md:text-xl mb-4">Another page to create, generate content and manage, but for the book to have any chance of being successful it will be absolutely necessary. What's more, it will be fun, after all, frontend is what I do in my spare time, and in my work time too.</p>
    </div>
  </div>
</Layout>

<style>
.toggle-language {
  display: flex;
  flex-direction: column;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.active {
  height: 0.25rem;
  width: 100%;
  border-radius: 0.75rem;
  --tw-text-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-text-opacity));;
}
</style>
