---
const { title } = Astro.props
---

<div class="card">
  <div class="relative flex flex-col break-words w-full h-full mb-6 shadow-lg rounded-lg bg-base-100 overflow-hidden">
     <slot name="img" />
     <blockquote class="relative p-8 mb-4 text-base-content">          
       <h4 class="text-2xl font-bold">{title}</h4>
       <p class="text-lg font-normal mt-2">
         <slot />
       </p>
    </blockquote>
  </div>
</div>

<style>
  .card {
  @apply flex items-stretch rounded-lg transition-all duration-500 brightness-75 hover:brightness-105 scale-100 hover:scale-105;
  width: clamp(10rem, 22%, 20rem);
 }
</style>
