---
import { Image } from 'astro:assets'
import Theme from '@components/ThemeSwitch.astro'
import Layout from '../layouts/LayoutCard.astro'
import Title from '@components/ui/Title.astro'
import Subtitle from '@components/ui/Subtitle.astro'
import Social from '@components/Socialmedia.astro'
import Tulio from '@assets/img/quem/tulio-profile.png'

---

<Layout title='Cartão de visitas do Teseu'>
  <div class="flex flex-col md:flex-row justify-center md:justify-between gap-8 py-4">
    <Theme />
    <div class="flex justify-center gap-8 text-5xl mb-8 w-full md:w-max transition-all duration-300">
      <div class="toggle-language">
        🇧🇷
        <span id="ptbr" class="active"></span>
      </div>
      <div class="toggle-language">
        <a href="/en/card"> 🇺🇸
          <span id="en"></span>
        </a>
      </div>
    </div>
  </div>
  <Title title='Tulio Macedo' />
    <Subtitle title='Desenvolvedor Web, entusiasta do Software Livre, usuário Fedora' />
  <div class="flex justify-center p-8">
    <Image src={Tulio} alt="foto do Tulio" class="w-56 h-56 rounded-full object-cover object-top" />
  </div>
  <div class="mb-8">
    <Social />
  </div>
</Layout>

<style>
.toggle-language {
  display: flex;
  flex-direction: column;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.active {
  height: 0.25rem;
  width: 100%;
  border-radius: 0.75rem;
  --tw-text-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-text-opacity));;
}
</style>
