---
import Layout from '../layouts/Layout.astro'
import Title from '@components/ui/Title.astro'
import Subtitle from '@components/ui/Subtitle.astro'
---
<Layout title='Página do Teseu - Frases'>
  <div class="px-8 py-4 min-h-[calc(100vh-13rem)]">
    <Title title='Frases' />
    <Subtitle title='Algumas coisas que uso para pensar.' />
  </div>
</Layout>
