---
import Layout from '../layouts/Layout.astro'
import Card from '@components/Card.astro'
import { Image } from 'astro:assets'
import Teseu from '@assets/img/teseu.png'
---

<Layout title="Página do Teseu">
  <main class="bg-info-200 top-20 text-bw-900">
    <div
      class="flex flex-col justify-center items-center lg:flex-row lg:justify-between gap-8 px-8 md:px-36 xl:px-[14rem] pt-8 pb-8 min-h-[calc(100vh-13rem)] hero"
    >
      <Image alt="Teseu logo" class="w-48 h-48" src={Teseu} />
      <h1 class="flex text-4xl sm:text-6xl md:text-8xl font-bold text-base-content w-full justify-center items-center pb-6">
        Página do Teseu
      </h1>
    </div>
  </main>
</Layout>

<style>
 
</style>
