---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Title from '@components/ui/Title.astro'
import Subtitle from '@components/ui/Subtitle.astro'
---

<Layout title='Página do Teseu - Lembranças'>
  <div class="flex flex-col px-8 py-4 md:px-16 xl:px-[20rem] min-h-[calc(100vh-13rem)]">
    <Title title='Lembranças' />
    <Subtitle title='Por conta das lembranças colocadas aqui terei mais motivos para continuar com os projetos.' />
  </div>  
</Layout>