---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Title from '@components/ui/Title.astro'
import Subtitle from '@components/ui/Subtitle.astro'
import Card from '@components/cards/quem.astro'
import Lud from '@assets/img/quem/lud.jpg'
import Teseu from '@assets/img/quem/teseu-profile.png'
import Tulio from '@assets/img/quem/tulio.jpg'
import '@phosphor-icons/web/duotone'
---
<Layout title='Página do Teseu - Quem'>
  <div class="flex flex-col px-8 py-4 md:px-16 xl:px-[20rem] min-h-[calc(100vh-13rem)]">
    <Title title='Quem' />
    <Subtitle title='Para que tudo possa acontecer, sempre tem alguém, pode ser na linha de frente ou nos bastidores.' />
    <div class="flex flex-wrap justify-between gap-4 itens-strech">
      <Card nome='Ludmilla Bizzotto Petrin' papel='😍 Suporte e mais 💥'>
        <Image src={Lud} alt='foto da Ludmilla' slot='img' class="aspect-square max-h-[19rem] rounded-b-none brightness-110" />
        <div slot='badge' class='flex gap-4'>
          <div class="badge badge-accent text-lg">Mãe</div>
          <div class="badge badge-ghost text-lg">Segurança</div>
          <div class="badge badge-secondary text-lg">Confusão</div>
        </div>
        <a slot='redes' href="https://www.facebook.com/ludmilla.bizzottopetrin" target="_blank">
          <i class="ph-duotone ph-facebook-logo text-5xl text-primary"></i>
        </a>
      </Card>
      <Card nome='Teseu' papel='🖥️ Querendo ser coder'>
        <Image src={Teseu} alt='imagem do Teseu' slot='img' class="aspect-square object-cover object-[0_-2rem] max-h-[19rem] rounded-b-none brightness-110" />
        <div slot='badge' class='flex gap-4'>
          <div class="badge badge-info text-lg">Em desenvolvimento</div>
        </div>
        <a slot='redes' href="http://github.com/tuliomac" target="_blank">
          <i class="ph-duotone ph-github-logo text-5xl text-primary"></i>
        </a>
        <a slot='redes' href="http://gitlab.com/teseu" target="_blank">
          <i class="ph-duotone ph-gitlab-logo text-5xl text-primary"></i>
        </a>
      </Card>
      <Card nome='Tulio Macedo' papel='Eu e Helena ❤️'>
        <Image src={Tulio} alt='foto do Tulio com Helena' slot='img' class="aspect-square max-h-[19rem] rounded-b-none brightness-110" />
        <div slot='badge' class='flex gap-4'>
          <div class="badge badge-accent text-lg">Pai</div>
          <div class="badge badge-info text-lg">Em desenvolvimento</div>
        </div>
        <a slot='redes' href="https://twitter.com/tuliomac" target="_blank">
          <i class="ph-duotone ph-twitter-logo text-5xl text-primary"></i>
        </a>
        <a slot='redes' href="https://teseu.wordpress.org/" target="_blank">
          <i class="ph-duotone ph-newspaper-clipping text-5xl text-primary"></i>
        </a>
      </Card>
    </div>
  </div>
</Layout>
