---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Title from '@components/ui/Title.astro'
import Subtitle from '@components/ui/Subtitle.astro'

---
<Layout title='Página do Teseu - Quem'>
  <div class="flex flex-col px-8 py-4 md:px-16 xl:px-[20rem] min-h-[calc(100vh-13rem)]">
    <Title title='Quem' />
    <Subtitle title='Para que tudo possa acontecer, sempre tem alguém, pode ser na linha de frente ou nos bastidores.' />
    
  </div>
</Layout>

