---
import Layout from '../layouts/Layout.astro'
import Title from '@components/ui/Title.astro'
import Subtitle from '@components/ui/Subtitle.astro'
import { Image } from 'astro:assets'
---
<Layout title='Página do Teseu - Now'>
  <div class="flex flex-col items-center py-20 md:px-36 xl:px-[14rem] min-h-[calc(100vh-13rem)]">
    <Image class="my-10" src="/thanks.png" alt="" width={150} height={150} />
    <Title title='Obrigado' />
    <Subtitle title='Sua mensagem foi enviada com sucesso!!' />
  </div>
</Layout>
