---
import Gitlab from '@components/icons/gitlab.astro'
import Github from '@components/icons/github.astro'
import Blog from '@components/icons/blog.astro'
import Mastodon from '@components/icons/mastodon.astro'
import Twitter from '@components/icons/twitter.astro'
import Vapor from '@components/icons/vapor.astro'
import Mail from '@components/icons/mail.astro'

---

  <div>
    <div class="flex items-center justify-center gap-4">
      <a class="text-secondary w-10" href="https://gitlab.com/teseu" target="_blank">
        <Gitlab />
      </a>
      <a class="text-secondary w-10" href="https://github.com/teseu" target="_blank">
        <Github />
      </a>
      <a class="text-secondary w-10" href="#" target="_blank">
        <Blog />
      </a>
      <a class="text-secondary w-10" href="https://mastodon.social/@teseu" target="_blank">
        <Mastodon />
      </a>
      <a class="text-secondary w-10" href="http://twitter.com/tuliomac" target="_blank">
        <Twitter />
      </a>
      <a class="text-secondary w-10" href="https://vaporhole.xyz/~teseu/" target="_blank">
        <Vapor />
      </a>
      <a class="text-secondary w-10" href="mailto:tuliomac@proton.me" target="_blank" rel="noopener noreferrer">
        <Mail />
      </a>
    </div>
  </div>
